.titulo{
    text-align: center;
}
#cargos{
    margin-left: 200px;
}
.link{
    margin-left: 100px;
}
.inicio{
    margin-left: 90%;
}
p{
    text-align: center;
}
.inicio2{
    margin-left: 80%;
}
.awa{
    display:block;
    margin:auto;
}